/* wofi/style.css - Estilo simple para el selector */
window {
    margin: 0px;
    border: 1px solid #585b70;
    background-color: #1e1e2e;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#entry:selected {
    background-color: #f5c2e7;
}

#text:selected {
    color: #1e1e2e;
}
